RewriteEngine On    # Turn on the rewriting engine

RewriteRule ^insert insert.php [NC,L]
#RewriteRule ^index index.php [NC,L]
RewriteRule ^index/([0-9a-zA-Z_-]*)$ index.php?$1= [NC,L]
RewriteRule ^index/([0-9a-zA-Z_-]*)/([0-9a-zA-Z_-]*)$ index.php?$1=&id=$2 [NC,L]